<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="asset/bootstrap.min.css">
    <link rel="stylesheet" href="asset/landPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
        .catagories-container {
            height: 200px;
            background-color: aquamarine;
        }


        .product-container {
            height: 200px;
            background-color: blueviolet;
        }
    </style>
</head>

<body>
    <main>
        <div class="container main-container">
            <div class="row row-cols-2">
                <div class="col-2 catagories-container">
                    <div class="lable-catagories"><i class="fa-solid fa-list label-catagories-list"></i>All Of The Files
                    </div>
                </div>
                <div class="col-10 product-container"></div>
            </div>
        </div>
    </main>
</body>

</html>