<!DOCTYPE html>
<html lang="en">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link href="../../static/css/auth-header-style.css" rel="stylesheet">
</head>

<body>
<header class="signin-header">
    <div class="header-container">
        <div class="right-header">
            <a href="#landingpage">
                <img alt="Logo" src="#logo">
            </a>
            <h2>Log In</h2>
        </div>

        <div class="left-header">
            <a href="#help">You need help?</a>
        </div>
    </div>
</header>

<header class="signup-header">
    <div class="header-container">
        <div class="right-header">
            <a href="#landingpage">
                <img alt="Logo" src="#logo">
            </a>
            <h2>Register</h2>
        </div>

        <div class="left-header">
            <a href="#help">You need help?</a>
        </div>
    </div>
</header>
</body>

</html>